.logo-fill {
  fill: #152938;
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  white-space: nowrap;
}
header .logo {
  height: var(--logo-game-board);
}
header h1 {
  height: var(--logo-game-board);
}
