.player-information-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100vw;
  padding: 1.5rem;
}
.player-information-container div {
  text-align: center;
  background-color: var(--player-info-bg);
  border-radius: var(--border-radius-xsmall);
  flex-grow: 1;
  padding: 10px;
}
.player-information-container .active-player {
  position: relative;
  background-color: var(--primary-button-bg);
}
.active-player::before {
  --triangle-half-length: 8px;
  position: absolute;
  content: "";
  left: calc(50% - var(--triangle-half-length));
  top: calc(-1 * var(--triangle-half-length));
  border-right: var(--triangle-half-length) solid transparent;
  border-bottom: var(--triangle-half-length) solid var(--primary-button-bg);
  border-left: var(--triangle-half-length) solid transparent;
}
.player-information-container h2 {
  font-size: var(--multi-sing-player-info-title-font-size);
  line-height: var(--multi-sing-player-info-title-line-height);
  color: var(--medium-text-color);
}
.player-information-container .active-player h2 {
  color: var(--light-text-color);
}
.player-information-container .active-player p {
  color: var(--light-text-color);
}
.player-information-container p {
  font-size: var(--multi-sing-player-info-p-font-size);
  line-height: var(--multi-sing-player-info-p-line-height);
  color: var(--dark-text-color);
}
@media screen and (min-width: 700px) {
  .player-information-container div {
    text-align: left;
    padding: 14px 16px 12px 16px;
    border-radius: var(--border-radius-small);
  }
  .player-information-container.single-player-container {
    gap: 30px;
    width: 70.3vw;
  }
  .player-information-container .single-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
  }
  .player-information-container .single-player h2 {
    font-size: var(--sing-player-info-title-font-size-tablet-dsk);
    line-height: var(--sing-player-info-title-line-height-tablet-dsk);
  }
  .player-information-container .single-player p {
    font-size: var(--sing-player-info-p-font-size-tablet-dsk);
    line-height: var(--sing-player-info-p-line-height-tablet-dsk);
  }
  .active-player::before {
    --triangle-half-length: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .player-information-container {
    width: 77.08vw;
    padding: 0;
  }
  .player-information-container div {
    text-align: left;
    padding: 14px 16px 12px 16px;
    border-radius: var(--border-radius-small);
  }
  .player-information-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 21px;
  }

  .player-information-container.single-player-container {
    gap: 30px;
    width: 37.5vw;
    padding: 25px;
  }
  .active-player::before {
    --triangle-half-length: 19.28px;
  }
  .active-player::after {
    position: absolute;
    content: "CURRENT TURN";
    width: 100%;
    bottom: -36px;
    left: 0;
    text-align: center;
    letter-spacing: 5px;
    font-size: 13px;
    line-height: 16px;
  }
}
